<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis.rcr_34.reputablecoursereview" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageAccountActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name=".CreateAccountActivityFacebook"
            android:label="title_activity_create_account_facebook" >
        </activity>
        <activity
            android:name=".PastCourses"
            android:label="Past Courses" >
        </activity>
        <activity
            android:name=".CourseAdditionActivity"
            android:label="Course Addition" >
        </activity>
        <activity
            android:name=".FutureCourses"
            android:label="Future Courses" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ManageFriendsActivity"
            android:label="@string/title_activity_manage_friends" >
        </activity>
        <activity
                   android:name=".FriendsDetailActivity"
                   android:label="@string/title_activity_friends_detail" >
    </activity>
        <activity
            android:name=".CourseActivity"
            android:label="Course Page" >
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review" >
        </activity>
    </application>

</manifest>
